* {
  scrollbar-width: thin;
  scrollbar-color:  #e9c46a #f4a261;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: #127e5f;
  border-radius: 20px;
  border: 3px solid #f4a261;
}

.todoListMain {
  background-color: #f4a261;
  padding: 10px;
  box-shadow: 5px 5px #127e5f;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    background-color: #f7e5d6;
    border: none;
    width: 80%;
    box-shadow: 5px 5px #e76f51;
  }
  .todoListMain .header input:focus {
    outline: none !important;
    border:2px solid #e76f51;
  }

  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #e9c46a;
    border: none;
    width: 10%;
    box-shadow: 5px 5px #e76f51;
  }
  .todoListMain .header button:hover {
    background-color: #e76f51;
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    text-align: justify;
  } 
  .todoListMain .theList li {
    color: #333;
    background-color: #e9c46a;
    padding: 15px;
    margin: 0px 15px 15px;
    list-style: none;
    box-shadow: 5px 5px #e76f51;

    transition: background-color .2s ease-out;
  }

  .todoListMain .theList li:hover {
    background-color: #e76f51;
  }

  .foodLists {
    max-height: 500px;
    overflow: auto;
  }

  ul.theList {
    padding: 0;
  }

  .delBtn {
    float: right;
    font-size: 22px;
  }

  .delBtn:hover {
    cursor: pointer;
  }