
body {
  margin: 0;
  background-color: #19b387;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.desc {
  font-family: monospace;
  font-size: 1.2rem;
}
